.VideoOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; }
  .VideoOverlay > div {
    background-color: rgba(0, 0, 0, 0.9) !important; }
  .VideoOverlay svg:nth-child(2), .VideoOverlay svg:nth-child(3) {
    display: none !important; }
  .VideoOverlay .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
